<div class="container mt-5">
  <h1 class="mb-4"><%= @tourist_spot.spot_name %></h1>

  <div class="row spot-favorite">
    <div class="col-md-8">
      <p><strong>Prefecture:</strong> <%= @tourist_spot.prefecture.prefecture %></p>
      <p><strong>Address:</strong> <%= @tourist_spot.address %></p>
      <p><strong>Category:</strong> <%= @tourist_spot.category.category %></p>
      <p><strong>Usage Scene:</strong> <%= @tourist_spot.usage_scene.usage_scene %></p>
      <p><strong>Explanation:</strong> <%= @tourist_spot.explanation %></p>
      <p><strong>Evaluation:</strong> <%= @tourist_spot.avg_evaluation.present? ? star_rating(@tourist_spot.avg_evaluation) : 'Not yet rated' %></P>
      <p><strong>Post date:</strong> <%= @tourist_spot.created_at.strftime("%Y-%m-%d") %></p>
    </div>
  </div>
  
  <!--お気に入り-->
    <% if @tourist_spot.user != current_user %>
      <%= render 'tourist_spots/favorite_button', spot: @tourist_spot, icon_class: "custom-favorite-icon_in_details", button_class: "custom-favorite-button_in_details" %>
    <% end %>
  
  <!--画像のモーダル表示-->
  <button id="modalOpen">view image</button>
  <div id="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h3><%= @tourist_spot.spot_name %> Images</h3>
        <span class="modalClose">&times;</span>
      </div>
      <div class="modal-body">
        <% if @tourist_spot.images.attached? %>
          <!--Carouselの実装-->
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
              <% @tourist_spot.images.each_with_index do |image, index| %>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
              <% end %>
            </ol>
            <div class="carousel-inner">
              <% @tourist_spot.images.each_with_index do |image, index| %>
                <div class="carousel-item <%= 'active' if index == 0 %>">
                  <%= image_tag(image.variant(resize: "400x300").processed, class: 'd-block w-100', style: "width:400px; height: 300px; object-fit: cover;") %>
                </div>
              <% end %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        <% else %>
          <%= image_tag 'default_image.png', height: "300", width: "400", alt: "There is no image", align: "top" %>
        <% end %>
      </div>
    </div>
  </div>
  
  <!--自分の投稿だったら削除と編集ボタン-->
  <% if current_user.id == @tourist_spot.user_id%>
    <div class="mt-4">
      <%= link_to 'Edit', edit_tourist_spot_path(@tourist_spot), class: 'btn btn-primary' %>
      <%= link_to 'Delete', @tourist_spot, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
  <% end %>
  
  <!--レビュー一覧とレビュー作成ボタンを作成-->
  <div class="text-center mt-5 mb-5">
    <h3 style="text-decoration: underline;"><i class="fa-regular fa-comment me-2"></i>Reviews</h3>
    <p class="mt-3">Have you visited this tourist spot? Share your experience by writing a review!</p>
    <%= link_to "Add a review", new_tourist_spot_review_path(@tourist_spot), class: "btn btn-primary" %>
  </div>
  
  <%= render 'reviews/reviews', reviews: @reviews, empty_message: "No one has posted any reviews yet." %>

</div>


<!--モーダルのjs-->
<script>
  const buttonOpen = document.getElementById("modalOpen");
  const buttonClose = document.querySelector(".modalClose");
  const modal = document.getElementById("modal");

  console.log(buttonOpen, buttonClose, modal);

  buttonOpen.addEventListener("click", () => {
    modal.style.display = "block";
  });

  buttonClose.addEventListener("click", () => {
    modal.style.display = "none";
  });
</script>