<div class="text-center mb-3 mt-5">
  <h1>Sign Up</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(model: @user) do |form| %>
    <%= render 'layouts/error_messages', model: form.object %>
      <div class="mb-3">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
    
      <div class="mb-3">
        <%= form.label :email %>
        <%= form.email_field :email,class: 'form-control' %>
      </div>
    
      <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class: 'form-control' %>
      </div>
    
      <div class="mb-3">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, class: 'form-control' %>
      </div>
      
      
      <div class="d-flex justify-content-center mt-2">
       <%= form.submit 'Sign up', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
