<%= render "mypage", user:@user %>

<div style="width: 45%; margin: auto;">
  <ul class="nav nav-tabs nav-justified mb-4 mt-2">
    <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>"><i class="fa-solid fa-location-dot me-1"></i>Spots</a></li>
    <li class="nav-item"><a href="<%= reviews_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(reviews_user_path(@user)) %>"><i class="fa-solid fa-comment me-1"></i>Reviews</a></li>
    <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>"><i class="fa-solid fa-heart me-1"></i>Favorites</a></li>
  </ul>
  <%= render 'tourist_spots/tourist_spots', tourist_spots: @tourist_spots, empty_message: "You have not posted any tourist spots yet." %>
</div>
