<% if reviews.any? %>
  <ul class="list-unstyled mt-2">
    <% reviews.each do |review| %>
      <li class="row justify-content-center">
        <div class="custom-card mb-3 col-md-10">
          <div class="custom-card-body">
            <h5 class="custom-card-title d-flex align-items-center">
              <%= link_to review.tourist_spot.spot_name, tourist_spot_path(review.tourist_spot), class: "no-underline" %>
            </h5>
            <% if current_user.id == review.user_id %>
              <div class="dropdown position-absolute">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  action
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                  <li><%= link_to 'Edit', edit_review_path(review), class: 'dropdown-item' %></li>
                  <li><%= link_to 'Delete', review_path(review), method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item text-danger' %></li>
                </ul>
              </div>        
            <% end %>
            <p class="custom-card-text">
              <strong>Evaluation:</strong> <%= star_rating(review.evaluation) %><br>
              <strong>Comment:</strong> <%= review.comment %><br>
            </p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% else %>
  <p class="text-muted"><%= empty_message %></p>
<% end %>