<nav class="navbar navbar-expand-sm navbar-custom">
  <% if logged_in? %>
  <div class="container-fluid"> <!-- ナビバーを画面いっぱいにするクラス -->
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav-bar"> <!-- targetがハンバーガーメニューの目印 -->
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav-bar">　<!-- idはtargetで指定したもの -->
          <!-- メニュー項目 -->
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <%= link_to root_path, class: "nav-link" do %>
                <i class="bi bi-house-door"></i> Top
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to search_path, class: "nav-link" do %>
                <i class="bi bi-search"></i> Search
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to user_path(current_user), class: "nav-link" do %>
                <i class="bi bi-person"></i> Mypage
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_tourist_spot_path, class: 'nav-link' do %>
                <i class="bi bi-plus-square"></i> Post
              <% end %>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto"> 
            <li class="nav-item">
              <%= link_to logout_path, method: :delete, class: 'nav-link', data: { confirm: "Are you sure you want to log out?" } do %>
              <i class="fas fa-sign-out-alt"></i> Log out
            <% end %>
          </li>
        </ul>
      </div>
  </div>
  <% else %>
    <div class="container-fluid">
      <%= link_to 'Tourist-spots', root_path, class: 'navbar-brand' %>
      
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to '<i class="fas fa-sign-in-alt"></i> Login'.html_safe, login_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>

</nav>